* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

ul {
	list-style: none;
}

#container {
	max-width: 1024px;
	margin: 0 auto;
}

	/* header */

.header-inner {
	min-height: 122px;
	display: flex;
	justify-content: space-between;
	align-items: center;	
	position: relative;
}

.burger-icon {
	display: none;
}

.nav-list {
	display: flex;
}

.nav-item-link {
	font-size: 20px;
	text-decoration: none;
	color: #000000;
	margin-right: 67px;
}

.nav-item:last-of-type .nav-item-link {
	margin-right: 0;
}

	/* carousel */

.carousel {
	margin-bottom: 37px;
}

.slick-slide img {
	width: 100%;
}

	/* text-wrapper */

.text-wrapper {
	text-align: center;
	font-size: 28px;
	margin-bottom: 42px;
}

	/* dark-boxes */

.box-wrapper {
	height: 82px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	margin-bottom: 60px;
}

.box-inner-text {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 400;
}

.dark-boxes-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 60px;
}

.dark-box-wrapper {
	background-color: #000000;
	width: 500px;
	height: 394px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dark-box-text {
	color: #fff;
	width: 400px;
	font-weight: 200;
}

.counter {
	font-size: 48px;
	line-height: 0.5;
	margin-right: 5px;
	font-weight: 400;
}

.box-second {
	margin-bottom: 47px;
}

	/* form-elements */

.form-elements {
	position: relative;
}

.textarea {
	width: 100%;
	height: 120px;
	outline: 1px solid #000000;
	resize: none;
	padding: 49px 230px 49px 31px;
	font-weight: 400;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.5);
}

.textarea::-webkit-scrollbar {
	display: none;
}

.submit {
	width: 200px;
	height: 60px;
	background: #000000;
	border-radius: 8px;
	outline: none;
	border: none;
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
}

.submit-inner-link {
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
	font-size: 28px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 13px;
}

@media screen and (max-width: 1024px) {
	#container {
		max-width: 920px;
	}

		/* header */

	.header-logo {
		position: absolute;
		left: 50%;
		top: 37px;
		margin-left: -50px;
	}

	.nav {
		display: none;
	}

		/* burger */

	.burger-icon {
		width: 48px;
		height: 31px;
		border: none;
		cursor: pointer;
		background: none;
		display: block;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: absolute;
		top: 45px;
		right: 0;
	}

	.burger-icon::before, .burger-icon::after, .burger-icon-inner {
		content: '';
		display: block;
		width: 48px;
		background: #000;
		height: 5px;
	}

		/* menu open */

	.header.menu-open {
		background: #000;
		position: absolute;
		width: 100%;
		min-height: 316px;
		z-index: 1;
		top: 0;
		left: 0;
	}

	.menu-open .header-inner {
		background-color: #000;
		margin: 0 auto;
		align-items: flex-end;
		justify-content: center;
		max-width: 920px;
	}

	.menu-open .header-logo svg path {
		fill: #fff;
	}

	.menu-open .burger-icon::before, .menu-open .burger-icon::after {
		position: absolute;
		background:#fff;
		transition: ease 1s;
	}

	.menu-open .burger-icon::before {
		transform: rotate(45deg);
		top: 15px;
	}

	.menu-open .burger-icon-inner {
		display: none;
	}

	.menu-open .burger-icon::after {
		transform: rotate(-45deg);
		bottom: 10px;
	}

	.menu-open .nav {
		display: block;
		margin: 0 auto;
		margin-top: 176px;
	}
	
	.menu-open .nav-item-link {
		color: #fff;
	}

	.menu-open + .carousel {
		margin-top: 122px;
	}

		/* text-wrapper */

	.text-wrapper {
		font-size: 20px;
	}

		/* dark-boxes */

	.box-wrapper {
		margin-bottom: 32px;
	}
	
	.dark-boxes-wrapper {
		flex-direction: column;
		margin-bottom: 32px;
	}

	.dark-box-wrapper {
		width: 100%;
		height: auto;
	}

	.dark-box-wrapper:first-of-type {
		margin-bottom: 32px;
	}

	.dark-box-text {
		width: 832px;
		padding: 48px 0 48px;
	}
}

@media screen and (max-width: 375px) {
	#container {
		max-width: 375px;
	}

		/* header */

	.nav {
		display: none;
	}

	.header-logo {
		display: none;
	}

	.header {
		position: absolute;
	}

		/* burger */

	.burger-icon {
		position: absolute;
		top: 19px;
		left: 306px; /*because of long slick-track*/
		z-index: 3;
	}

	.burger-icon::before, .burger-icon::after, .burger-icon-inner {
		background: #fff;
	}

	    /*menu-open*/

	.header.menu-open {
		min-height: 332px;
	}

	.menu-open .header-inner {
		justify-content: flex-start;
	}

	.menu-open .header-logo {
		display: block;
		top: 30px;
		left: 20px;
		margin-left: 0;
	}

	.menu-open .burger-icon::before {
		top: 30px;
	}

	.menu-open .burger-icon-inner {
		display: none;
	}

	.menu-open .burger-icon::after {
		bottom: -4px;
	}

	.menu-open .nav {
		margin: 120px 0 0 20px;
	}

	.menu-open .nav-list {
		display: block;
	}

	.menu-open .nav-item {
		margin-bottom: 48px;
	}

		/* carousel */

	.menu-open + .carousel {
		margin-bottom: 42px;
		margin-top: -5px; /*to fix "jumping" text*/
	}

		/* text-wrapper */

	.text-wrapper {
		font-size: 18px;
		padding: 0 20px;
	}

		/* dark-boxes */

	.box-wrapper {
		height: 58px;
		padding: 16px 0;
	}
	
	.box-inner-text {
		font-size: 20px;
	}
}
